@model AnLac.Models.QLDatabaseKH
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Main Content Wrapper Start -->
<div class="main-content-wrapper">
    <div class="page-content-inner pt--75 pb--80">
        <div class="container">
            <div class="row">
                <div style="margin-right: 25%"></div>
                <div class="col-md-6">
                    <div class="register-box">
                        <h4 class="heading__tertiary mb--30">Register</h4>
                        @using (Html.BeginForm("Register", "ResignAndLogin", FormMethod.Post))
                        {
                            //@Html.ValidationSummary()
                            @Html.AntiForgeryToken()
                            <form class="form form--login">
                                <div class="form__group mb--20">
                                    @Html.LabelFor(m => m.customerName, new { @class = "form__label" })
                                    @Html.TextBoxFor(m => m.customerName, "", new { @class = "form__input", @placeholder = "Tên" })
                                    @Html.ValidationMessageFor(m => m.customerName, "", new { @class = "badge badge-danger" })
                                </div>
                                <div class="form__group mb--20">
                                    @Html.LabelFor(m => m.customerEmail, new { @class = "form__label" })
                                    @Html.TextBoxFor(m => m.customerEmail, "", new { @class = "form__input", @placeholder = "Email" })
                                    @Html.ValidationMessageFor(m => m.customerEmail, "", new { @class = "badge badge-danger" })
                                </div>
                                <div class="form__group mb--20">
                                    @Html.LabelFor(m => m.customerPassword, new { @class = "form__label" })
                                    @Html.PasswordFor(m => m.customerPassword, new { @class = "form__input", @placeholder = "Mật khẩu" })
                                    @Html.ValidationMessageFor(m => m.customerPassword, "", new { @class = "badge badge-danger" })
                                </div>
                                <div class="form__group mb--20">
                                    @Html.LabelFor(m => m.customerPhone, new { @class = "form__label" })
                                    @Html.TextBoxFor(m => m.customerPhone, "", new { @class = "form__input", @placeholder = "Số điện thoại" })
                                    @Html.ValidationMessageFor(m => m.customerPhone, "", new { @class = "badge badge-danger" })
                                </div>
                                <div class="form__group">
                                    <input type="submit" value="Đăng ký" class="btn btn-size-sm">
                                </div>
                            </form>
                        }
                        <div class="form__group">
                            <a href="@Url.Action("Login")" class="btn btn-size-sm">Đăng nhập</a>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
