<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicons -->
    <link rel="shortcut icon" href="~/Script/img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="~/Script/img/icon.png">

    <!-- ************************* CSS Files ************************* -->
    <!-- Vendor CSS -->
    <link rel="stylesheet" href="~/Script/css/vendor.css">

    <!-- style css -->
    <link rel="stylesheet" href="~/Script/css/main.css">
</head>
<body>
    <!-- Header Start -->
    <header class="header">
        <div class="header__inner fixed-header">
            <div class="header__main">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="header__main-inner">
                                @if (Session["TaiKhoan"] != null)
                                {
                                    <div class="header__main-left">
                                        <div class="logo">
                                            <a href="@Url.Action("Shop", "QLSPs")" class="logo--normal">
                                                <img src="~/Script/img/logo/logo.png" alt="Logo">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="header__main-center">
                                        <nav class="main-navigation text-center d-none d-lg-block">
                                            <ul class="mainmenu">
                                                <li class="mainmenu__item menu-item-has-children megamenu-holder">
                                                    <a href="@Url.Action("Shop", "QLSPs")" class="mainmenu__link">
                                                        <span class="mm-text">Shop</span>
                                                    </a>
                                                </li>
                                                <li class="mainmenu__item menu-item-has-children megamenu-holder">
                                                    <a href="@Url.Action("Detail", "QLSPs")" class="mainmenu__link">
                                                        <span class="mm-text">Detail</span>
                                                    </a>
                                                </li>
                                                <li class="mainmenu__item menu-item-has-children megamenu-holder">
                                                    <a href="@Url.Action("Logout", "ResignAndLogin")" class="mainmenu__link">
                                                        <span class="mm-text">Logout</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                }
                                else
                                {
                                    if (Session["Admin"] != null)
                                    {
                                        <div class="header__main-left">
                                            <div class="logo">
                                                <a href="@Url.Action("Index", "QLSPs")" class="logo--normal">
                                                    <img src="~/Script/img/logo/logo.png" alt="Logo">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="header__main-center">
                                            <nav class="main-navigation text-center d-none d-lg-block">
                                                <ul class="mainmenu">
                                                    <li class="mainmenu__item menu-item-has-children">
                                                        <a href="@Url.Action("Index", "QLSPs")" class="mainmenu__link">
                                                            <span class="mm-text">Management</span>
                                                        </a>
                                                    </li>
                                                    <li class="mainmenu__item menu-item-has-children megamenu-holder">
                                                        <a href="@Url.Action("Shop", "QLSPs")" class="mainmenu__link">
                                                            <span class="mm-text">Shop</span>
                                                        </a>
                                                    </li>
                                                    <li class="mainmenu__item menu-item-has-children megamenu-holder">
                                                        <a href="@Url.Action("Detail", "QLSPs")" class="mainmenu__link">
                                                            <span class="mm-text">Detail</span>
                                                        </a>
                                                    </li>
                                                    <li class="mainmenu__item menu-item-has-children megamenu-holder">
                                                        <a href="@Url.Action("Logout", "ResignAndLogin")" class="mainmenu__link">
                                                            <span class="mm-text">Logout</span>
                                                        </a>
                                                    </li>

                                                </ul>
                                            </nav>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="header__main-left">
                                            <div class="logo">
                                                <a href="@Url.Action("Shop", "QLSPs")" class="logo--normal">
                                                    <img src="~/Script/img/logo/logo.png" alt="Logo">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="header__main-center">
                                            <nav class="main-navigation text-center d-none d-lg-block">
                                                <ul class="mainmenu">
                                                    <li class="mainmenu__item menu-item-has-children megamenu-holder">
                                                        <a href="@Url.Action("Shop", "QLSPs")" class="mainmenu__link">
                                                            <span class="mm-text">Shop</span>
                                                        </a>
                                                    </li>
                                                    <li class="mainmenu__item menu-item-has-children megamenu-holder">
                                                        <a href="@Url.Action("Detail", "QLSPs")" class="mainmenu__link">
                                                            <span class="mm-text">Detail</span>
                                                        </a>
                                                    </li>
                                                    <li class="mainmenu__item">
                                                        <a href="@Url.Action("Login","ResignAndLogin")" class="mainmenu__link">
                                                            <span class="mm-text">Login</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div>
                                    }

                                }


                                <div class="header__main-right">
                                    <div class="header-toolbar-wrap">
                                        <div class="header-toolbar">
                                            <div class="header-toolbar__item ">
                                                <a href="@Url.Action("Card", "Card")" class="header-toolbar__btn">
                                                    <i class="la la-shopping-cart"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header End -->
    <div>
        @RenderBody();
    </div>
    <!-- Footer Start-->
    <footer class="footer bg-color" data-bg-color="#f4f8fa">
        <div class="footer-top">
            <div class="container-fluid">
                <div class="row border-bottom pt--70 pb--70">
                    <div class="col-lg-3 col-sm-6 offset-md-1 offset-lg-0 mb-md--45">
                        <div class="footer-widget">
                            <div class="textwidget">
                                <figure class="footer-logo mb--30">
                                    <img src="~/Script/img/logo/logo.png" alt="Logo">
                                </figure>
                                <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms. </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-3 offset-lg-1 offset-sm-2 mb-md--45">
                        <div class="footer-widget">
                            <h3 class="widget-title mb--35 mb-sm--20">Company</h3>
                            <div class="footer-widget">
                                <ul class="footer-menu">
                                    <li><a href="index.html">About Us</a></li>
                                    <li><a href="blog.html">Blogs</a></li>
                                    <li><a href="#">Careers</a></li>
                                    <li><a href="contact-us.html">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-4 offset-md-1 offset-lg-0 mb-xs--45">
                        <div class="footer-widget">
                            <h3 class="widget-title mb--35 mb-sm--20">Product</h3>
                            <div class="footer-widget">
                                <ul class="footer-menu">
                                    <li><a href="#">Pricing</a></li>
                                    <li><a href="#">Features</a></li>
                                    <li><a href="#">Customers</a></li>
                                    <li><a href="#">Demos</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-4 mb-xs--45">
                        <div class="footer-widget">
                            <h3 class="widget-title mb--35 mb-sm--20">Helps</h3>
                            <div class="footer-widget">
                                <ul class="footer-menu">
                                    <li><a href="#">Introduction</a></li>
                                    <li><a href="#">Feedback</a></li>
                                    <li><a href="#">Referals</a></li>
                                    <li><a href="#">Network Status</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-4">
                        <div class="footer-widget">
                            <h3 class="widget-title mb--35 mb-sm--20">Social Network</h3>
                            <div class="footer-widget">
                                <ul class="footer-menu">
                                    <li><a href="#">Facebook</a></li>
                                    <li><a href="#">Twitter</a></li>
                                    <li><a href="#">Linkedin</a></li>
                                    <li><a href="#">Google +</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-middle ptb--40">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-11">
                        <div class="footer-widget">
                            <div class="taglist">
                                <span>Tags:</span>
                                <a href="#">Minimal eCommerce</a>
                                <a href="#">Marketing</a>
                                <a href="#">User Exprience</a>
                                <a href="#">Ali Express</a>
                                <a href="#">Web</a>
                                <a href="#">Digital Expo</a>
                                <a href="#">Web Search</a>
                                <a href="#">Affiliate</a>
                                <a href="#">UCWeb</a>
                                <a href="#">Support</a>
                                <a href="#">Template</a>
                                <a href="#">Best Queality</a>
                                <a href="#">Mobile</a>
                                <a href="#">24 Support</a>
                                <a href="#">Ali Express</a>
                                <a href="#">Web</a>
                                <a href="#">Laptop</a>
                                <a href="#">Web Search</a>
                                <a href="#">Affiliate</a>
                                <a href="#">Photoshop</a>
                                <a href="#">Support</a>
                                <a href="#">Template</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container-fluid">
                <div class="row border-top ptb--20">
                    <div class="col-12 text-center">
                        <p class="copyright-text">Beck &copy; 2019 all rights reserved</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer End-->
    <!-- Global Overlay Start -->
    <a class="scroll-to-top" href=""><i class="la la-angle-double-up"></i></a>
    <!-- Global Overlay End -->
    <!-- jQuery JS -->
    <script src="~/Script/js/vendor.js"></script>
    <script src="~/Script/js/main.js"></script>
</body>
</html>
